In [1]:
import sqlite3
import pandas as pd

# Connect to the database
conn = sqlite3.connect('database.db')
query = "SELECT * FROM predictions"

# Load into a DataFrame
df = pd.read_sql_query(query, conn)
conn.close()

# Display results
df.head()

   id                                              input  predicted
0   1  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...          0
1   2  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...          1
2   3  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...          9
3   4  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...          1
4   5  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...          2